<!DOCTYPE html>
<html lang="en">

<head>
     
   <%- include('../partials/head.ejs'); %>

    <title><%= word.replace(/-/g, ' ') %> এর ইংরেজি কি ? - <%= word.replace(/-/g, ' ') %> Meaning in English at sobdartho.com</title>
   <meta name="keyword" content="<%= word.replace(/-/g, ' ') %> %> শব্দের  ইংরেজি অর্থ, বাংলা অভিধান, বাংলা থেকে  ইংরেজি, <%= word.replace(/-/g, ' ') %> %> এর  ইংরেজি কি " />
   <meta name="description" content="<%= word.replace(/-/g, ' ') %> %>  ইংরেজি অর্থ  , অনলাইন বাংলা টু  ইংরেজি অভিধান। <%= word.replace(/-/g, ' ') %> %> meaning in English.">
   
   <meta property="og:title" content="<%= word.replace(/-/g, ' ') %> Meaning in English - English Meaning of <%= word.replace(/-/g, ' ') %> | <%= word.replace(/-/g, ' ') %> শব্দের  ইংরেজি অর্থ at sobdartho.com" />
    <meta property="og:url" content="https://sobdartho.com/bengali-to-english/<%= word%>" />
    <meta property="og:description" content="<%= word.replace(/-/g, ' ') %> শব্দের  ইংরেজি অর্থ at sobdartho.com" />
    <meta property="og:site_name" content="sobdartho.com" />

   <link rel="canonical" href="https://sobdartho.com/bengali-to-english/<%= word%>">

   <%- include('../partials/css.ejs'); %>

   <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://sobdartho.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://sobdartho.com/bengali-to-english/{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>
</head>


<body>
    <%- include('../partials/header_nav.ejs'); %>

    <div class="area">
        <div class="word-search">
            <div class="home-page-header-title">
                Bengali to English Dictionary
              </div>
            <form method="get" action="">
                <label>
                    <input type="text" name="query" id="query" value="<%= word.replace(/-/g, ' ') %>" placeholder="Type Word...">
                </label>
                <button>Search</button>
            </form>
        </div>

        <div class="next-prev">
            <span class="prev"><a href="/bengali-to-english/<%= info.prev_word %>"> << <%= info.prev_word.replace(/-/g, ' ') %></a> </span>
            <span class="next"><a href="/bengali-to-english/<%= info.next_word %>">  <%= info.next_word.replace(/-/g, ' ') %> >></a></span>
        </div>

        <!--meaning output section-->
        <div class="main">
            <div class="meaning outputs">

                <h1><%= word.replace(/-/g, ' ') %> Meaning in English</h1><br>
                
<!-- Ezoic - under_page_title - under_page_title -->
<div id="ezoic-pub-ad-placeholder-108"> 
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4942404864764189"
     crossorigin="anonymous"></script>
<!-- Under Title -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px"
     data-ad-client="ca-pub-4942404864764189"
     data-ad-slot="3299260492"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<!-- End Ezoic - under_page_title - under_page_title -->
<br>
                <!-- <h2><%= info%></h2> -->
                <% if(info.meaning){%>
                 <span class="main-meaning"><%- info.meaning %></span>
                <% } %>
            </div>

<!-- Ezoic - under_first_paragraph - under_first_paragraph -->
<div id="ezoic-pub-ad-placeholder-104"> </div>
<!-- End Ezoic - under_first_paragraph - under_first_paragraph -->


            <% if(info.more_meaning){%>
            <div class="outputs">
                    <h2><%= word.replace(/-/g, ' ') %> এর  ইংরেজি অর্থ</h2>
                    <p><%- info.more_meaning.replace(/\n/g, '<br><br>') %></p>
            </div>
            <% } %>

<!-- Ezoic - under_second_paragraph - under_second_paragraph -->
<div id="ezoic-pub-ad-placeholder-105"> 
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4942404864764189"
     crossorigin="anonymous"></script>
<!-- under 2nd paragraph -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4942404864764189"
     data-ad-slot="8343703613"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<!-- End Ezoic - under_second_paragraph - under_second_paragraph -->
            <% if(info.similer_words){%>
            <div class="similer-words outputs">
                    <h2>এমন আরো কিছু শব্দ</h2>
                    <%let similer = info.similer_words.split("\n");%>
                    <% similer.forEach((element,i) => { %>
                        <%- `<a href="/bengali-to-english/${element}">${element.replace(/-/g, ' ')}</a><br>` %>
                    <% } )%>
            </div>
            <% } %>

<!-- Ezoic - incontent_6 - incontent_6 -->
<div id="ezoic-pub-ad-placeholder-111"> </div>
<!-- End Ezoic - incontent_6 - incontent_6 -->

            <% if(info.english_example){%>
                <% if(!(info.english_example.length < 4)){%>
                <div class="outputs">
                        <h2><%= word %> এর  ইংরেজি অর্থের উদাহরণ</h2>
                        <% let example = info.english_example.split("\n") %>
                        <% let out = [...new Set(example)]; %>
                        <% out.forEach((element,i) => { %>
                            <p><%- element.replace(/&/g,'"').replace("$","'").replace("$","'") %></p><br>
                        <% } )%>
                </div>
                <% } %>
            <% } %>


            <% if(info.bengali_example){%>
            <div class="outputs">
                    <h2><%= word %> এর বাংলা ব্যাবহার ও উদাহরণ</h2>
                    <% let example = info.bengali_example.split("\n") %>
                    <% let out = [...new Set(example)]; %>
                    <% out.forEach((element,i) => { %>
                        <p><%- element.replace(/&/g,'"').replace("$","'").replace("$","'") %></p><br>
                    <% } )%>
            </div>
            <% } %>
<!-- Ezoic - mid_content - mid_content -->
<div id="ezoic-pub-ad-placeholder-110"> </div>
<!-- End Ezoic - mid_content - mid_content -->

            <div class="othersite outputs">
                <h2><span class="main-word"><%= word.replace(/-/g, ' ') %></span> Meaning in Other Sites </h2>
                <ul>
                    <li><a href="https://translate.google.com/#auto/en/<%= word%>" rel="noopener" target="_blank">Google Translate</a></li>
                    <li><a href="https://bn.wikipedia.org/wiki/<%= word%>" rel="noopener" target="_blank">Wikipedia</a></li>

                </ul>
            </div>
<!-- Ezoic - incontent_5 - incontent_5 -->
<div id="ezoic-pub-ad-placeholder-107"> </div>
<!-- End Ezoic - incontent_5 - incontent_5 -->
            <!-- below main dev ends -->
        </div>


        <aside>
            <div class="box">
                
<!-- Ezoic - sidebar top - sidebar -->
<div id="ezoic-pub-ad-placeholder-101"> </div>
<!-- End Ezoic - sidebar top - sidebar -->
                
            </div>
            <div class="box">
                <div class="head">
                    <h3>Top Words of This Week</h3>
                </div>
                <div class="content">
                    <ul>
                        <li> <a href="https://sobdartho.com/bengali-to-english/যন্ত্রনা">যন্ত্রনা</a> </li>
                        <li> <a href="https://sobdartho.com/bengali-to-english/শাড়ি">শাড়ি</a> </li>
                        <li> <a href="https://sobdartho.com/bengali-to-english/কচুরি">কচুরি</a> </li>
                        <li> <a href="https://sobdartho.com/bengali-to-english/খন্ড">খন্ড</a> </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="box">
                
<!-- Ezoic - sidebar_middle - sidebar_middle -->
<div id="ezoic-pub-ad-placeholder-109"> </div>
<!-- End Ezoic - sidebar_middle - sidebar_middle -->
                
            </div>
            <div class="box">
<!-- Ezoic - sidebar_bottom - sidebar_bottom -->
<div id="ezoic-pub-ad-placeholder-102"> </div>
<!-- End Ezoic - sidebar_bottom - sidebar_bottom -->
                
            </div>
        </aside>


        <%- include('../partials/footer.ejs'); %>


    </div>


    <script type="text/javascript">
        function toggle() {
            var test = document.getElementById("navbar");
            if (test.className == "hidden") {
                test.className = "show";
            } else {
                test.className = "hidden";
            }
        }

    </script>

</body>

</html>

